{% extends 'base.html' %} {% block title %}Flask Boggle{% endblock%} {% block
content%}
<div class="col-12">
	<h1 class="display-3">Flask Boggle</h1>
</div>
<div class="col-4 my-4">
	<section id="boggle">
		<table class="table table-dark board">
			<tbody>
				{% for row in board %}
				<tr>
					{% for cell in row %}
					<td>{{ cell }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<p>
			High Score:
			<b>{{ highscore }}</b>
			in {{ nplays }} plays
		</p>

		<p>Score: <b class="score">0</b> Seconds Left: <b class="timer"></b></p>
		<div class="form-group">
			<form method="POST" class="add-word">
				<input name="word" class="word form-control" autofocus />
				<button class="btn btn-block btn-primary mt-3">Enter</button>
			</form>
		</div>
		<p class="msg">
			<!-- our JS will put messages here dynamically -->
		</p>

		<ul class="words">
			<!-- our JS will words here as they score -->
		</ul>
	</section>
</div>
{% endblock %}
