{% extends 'base.html' %} {% block title %}Flask Boggle{% endblock%} {% block
content%}
<div class="col-xs-4 col-md-12">
	<h1 class="display-4 mt-0 mb-5">Flask Boggle</h1>
</div>
<section id="boggle">
	<div class="col-xs-4">
		<table class="table table-dark board">
			<tbody>
				{% for row in board %}
				<tr>
					{% for cell in row %}
					<td>{{ cell }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<p>
			High Score:
			<b>{{ highscore }}</b>
			in {{ nplays }} plays
		</p>
	</div>
	<div class="col-auto">
		<p>Score: <b class="score">0</b> Seconds Left: <b class="timer"></b></p>
	</div>
	<div class="form-group col-auto">
		<form method="POST" class="add-word">
			<input name="word" class="word form-control" autofocus />
			<button class="btn btn-block btn-primary mt-3">Enter</button>
		</form>
	</div>
	<div class="col-auto">
		<p class="msg">
			<!-- our JS will put messages here dynamically -->
		</p>

		<ul class="words">
			<!-- our JS will words here as they score -->
		</ul>
	</div>
</section>

{% endblock %}
